<nav class="grey darken-4">
  <div class="nav-wrapper">
    <div class="row">
      <a href="/" class="brand-logo center">MUSICTRACKS</a>
      <div class="col s2">
        <search></search>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a ui-sref="main">HOME</a></li>
        <li><a ui-sref="discover">DISCOVER</a></li>
        <li><a ui-sref="chart">CHART</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="upload">UPLOAD</a></li>
        <li><a ui-sref="cart">CART</a></li>
        <li><a id="signout" href="#" onclick="signOut()">LOGOUT</a></li>
        <li ng-if="!onLogin">
          <div class="g-signin2 btn btn-info btn-lg" data-onsuccess="onSignIn"></div>
        </li>
        <li ng-if="onLogin">  
          <img ng-src="{{userImg}}" ng-style="profileStyle"/>
          <span ng-style="nameStyle">{{userName}}</span>
        </li>
      </ul>
        <!-- <div class="right">
          <a class="dropdown-button" href="#" data-activates="dropdown1" ng-if="onLogin">
            Dropdown
          <span class="glyphicon glyphicon-triangle-bottom"></span>
          </a>
        </div> -->
        <!-- </li> -->
      <!-- </ul> -->
    </div>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <li><a ui-sref="upload">UPLOAD</a></li>
  <li><a ui-sref="cart">CART</a></li>
  <li class="divider"></li>
  <li><a id ="signout" href="#" onclick="signOut()">LOGOUT</a></li>
</ul>
