<h3>DISCOVER</h3>

<div class="discovercwrap">

<div class="polaroid" ng-repeat="song in $ctrl.albumData">
<div class="container">
  <img ng-src="{{song.picture}}" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <audio id="{{$index}}" ng-src="{{song.filename}}"></audio>
    <div class="text valign-wrapper">
      <a href="#" ng-click="$ctrl.playNg($index)">
        <span class="glyphicon glyphicon-play-circle waves-effect valign"></span>
      </a>
      
    </div>
    <div class="right rb">
      <a class="waves-effect waves-circle waves-light btn-floating secondary-content"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
</div>
  <div class="content">
    <p>
    {{song.album}}
    </p>
  </div>
</div>
</div>

<!-- <div ng-repeat="song in $ctrl.albumData">
<a class="lightbox" href="#{{song.title}}">
   <img ng-src="data:image/jpg;base64,{{$ctrl.arrayBufferToBase64(song.picture)}}"/>
</a> 
<div class="lightbox-target" id="{{song.title}}">
   <img ng-src="data:image/jpg;base64,{{$ctrl.arrayBufferToBase64(song.picture)}}"/>
   <a class="lightbox-close" href="#"></a>
</div>
</div> -->

<!-- <img ng-src="data:image/jpg;base64,{{$ctrl.arrayBufferToBase64(song.picture.data.data)}}" alt="Avatar" class="image" style="width:100%"> -->
