<div class="titlebg">
  <h3>DISCOVER</h3>
</div>
<div class="discovercwrap">

<div class="polaroid" ng-repeat="song in $ctrl.albumData">
<div class="container">
  <img ng-src="{{song.picture}}" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <audio id="{{$index}}" ng-src="{{song.filename}}"></audio>
    <div class="text valign-wrapper">
      <a href="#" ng-click="$ctrl.playNg($index)">
        <span class="glyphicon glyphicon-play-circle waves-effect valign"></span>
      </a>     
    </div>
    <div class="right rb">
      <a class="waves-effect waves-circle waves-light btn-floating secondary-content" ng-click="$ctrl.countGood(song.title)"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
</div>
  <div class="content">
    <p>
    {{song.album}}
    </p>
  </div>
</div>
</div>
