chart .titlebg {
  background-image: url('https://s3.ap-northeast-2.amazonaws.com/test-uphere/concert.jpg');
  width: 100%;
  height: 200px;
  text-align: left;
  background-size: auto;
  margin-bottom: 50px;
}

chart .titlebg h3 {
  padding-top: 75px;
  padding-left: 40px;
  color: white;
}

chart .circle {
  width: 50px;
  margin-right: 30px;
}
