upload .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

upload .alert.success {background-color: #4CAF50;}
upload .alert.info {background-color: #2196F3;}
upload .alert.warning {background-color: #ff9800;}

upload .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

upload .closebtn:hover {
    color: black;
}

upload .divider {
    border-left: 1px solid #bbb;
    height: 100%;
    background-color: white;
    padding-left: 30px;
}
