cart md-whiteframe {
	height : 80px;
	padding-left: 22px;
	padding-top: 10px;
	padding-right: 22px;
	width: 100%;
	margin-bottom: 18px;
	justify-content: flex-start;
}

cart .titlebg {
  background-image: url('https://s3.ap-northeast-2.amazonaws.com/test-uphere/concert.jpg');
  width: 100%;
  height: 200px;
  text-align: left;
  background-size: auto;
  margin-bottom: 50px;
}

cart .titlebg h3 {
  padding-top: 75px;
  padding-left: 40px;
  color: white;
}