<form name="toSearch" ng-submit="$ctrl.onSubmit()" ui-sref="searchSong">
<div class="input-field">
<!--   <select name="singleSelect" ng-model="$ctrl.singleSelect">
    <option value="" disabled selected>Choose your option</option>
    <option value="title">title</option>
    <option value="artist">artist</option>
    <option value="album">album</option>
  </select> -->
</div>
  <div class="input-field">
    <input id="search" type="search" ng-model="$ctrl.keyword" placeholder="Search song..." required>
    <label class="label-icon" for="search"><span class="glyphicon glyphicon-search"></span></label>
  </div>
</form>





  <!-- <select name="singleSelect" ng-model="$ctrl.singleSelect">
    <option value="title">title</option>
    <option value="artist">artist</option>
    <option value="album">album</option>
  </select> -->